.tile-habits#habits
  .pad
    h2 Habits
    -var eDiff = "😨";
    -var eUseful = "😋";
    -var eNetural = "😶";
    mixin habit(name, diff, useful, href)
      -var mapAbc = (v) => ["", "a", "a", "b", "c", "d"][v];
      -var mapStar = (v) => "★".repeat(v);
      -var ddf = useful - diff;
      li
        -if (!href)
          span.name(data-ddf=ddf)= name
        -else
          a(href=href)
            span.name(data-ddf=ddf)= name
        |  
        .tags
          span(class="diff " + mapAbc(diff), title="Difficulty: " + diff) #{eDiff.repeat(diff) || eNetural}
          |  + 
          span(class="useful " + mapAbc(useful), title="Usefulness: " + useful) #{eUseful.repeat(useful) || eNetural}
          |  => 
          -if (ddf > 0)
            span(class="net useful " + mapAbc(ddf), title="Net Usefulness: " + ddf) #{eUseful.repeat(ddf)}
          -else if (ddf == 0)
            span(class="net", title="Net Usefulness: 0")= eNetural
          -else
            span(class="net diff " + mapAbc(-ddf), title="Net Usefulness: " + ddf) #{eDiff.repeat(-ddf)}
    p.desc #{eDiff} = difficulty, #{eUseful} = usefulness, #{eNetural} = 0
    h3 Good things that I'm currently doing
    ul
      +habit("Try different developing tools / framework etc. regularly", 4, 4)
      +habit("Read programming blogs/newsletters", 2, 4)
    h3 Good things that I wanted to keep doing but had given up either <i>temporarily</i> or forever because I'm lazy
    ul
      +habit("Excerise regularly", 5, 5)
      +habit("Sleep early on school days", 3, 4)
      +habit("Sleep and wake up early on holiday", 4, 3)
      +habit("Keep a private daily/weekly journal", 4, 3)
      +habit("Write publicly regularly (blogs, etc)", 5, 5)
      li Read (books) regularly
        a(href="#books") *
    h3 Good things that I want to do
    ul
      +habit("Read open source projects (source code)", 4, 4)
      li Learn stuff
        a(href="#learning") *
