extends ../mainbase

block defines
  -
    const page = {
      title: 'Artworks index',
      desc: 'List of "arts" I made. Pretty ugly stuff.'
    }

block text
  mixin aImg (url)
    a.artimgcontain(href=url, title='View/download full image', target='_blank')
      img.artimg(src=url + '?width=400&as=jpg')
  p Works are licensed under CC-BY-SA 4 International, unless otherwise specified. Link to this page is sufficient for attribution.
  p
    b Images displayed in this page are shrinked
    |  to make loading faster. To download or view full image, click any image to open it in new tab.
  .__tableofcontents
  h2 3D renders (Blender)
  h3 Classroom
  +aImg(mapStatic('/imgs/artworks/classroom-1.png'))
  +aImg(mapStatic('/imgs/artworks/classroom-2.png'))
  a(href='https://cdn.pannellum.org/2.4/pannellum.htm?panorama=' + encodeURIComponent(mapStatic('/imgs/artworks/classroom-equirectangular.png?as=jpg')), target='_blank')
    img(src=mapStatic('/imgs/artworks/classroom-equirectangular.png?as=jpg&width=1000'), style='width: 100%')
  | The above image is an equirectangular projection. Click the image to open 360° viewer.
  h3 Random imaginary bedroom
  +aImg(mapStatic('/imgs/artworks/random-bedroom-1.png'))
  +aImg(mapStatic('/imgs/artworks/random-bedroom-2.png'))
  h3 Small island
  p One of my low-effort wallpaper, made within a hour.
  +aImg(mapStatic('/imgs/artworks/wallpaper-island.png'))
  h3 Simple paper plane
  +aImg(mapStatic('/imgs/artworks/paper-plane.png'))
  h3 Paper.sc 2nd birthday
  +aImg(mapStatic('/imgs/artworks/paper-sc-2th-birthday.png'))
  h3 Pencil wallpaper
  +aImg(mapStatic('/imgs/artworks/wallpaper-pencil.png'))
  h3 Website home page background
  +aImg(mapStatic('/imgs/home-background.png'))
  +aImg(mapStatic('/imgs/artworks/home-background-topview.png'))
  h2 2D drawings
  h3 Old website banner
  a.artimgcontain(href=mapStatic('/imgs/artworks/old-banner.png'), target='_blank')
    img.artimg(src=mapStatic('/imgs/artworks/old-banner.png'), style='width: 100%')
  p This banner contains some of the things that I cared about at the time this image was created, which was around 2017 May.
