extends /layout

block head
  title Mao Wtm
  meta(property='og:url', content='https://maowtm.org/Main_Page/')
  meta(property='og:type', content='article')
  meta(property='og:locale', content='en_US')
  meta(property='og:title', content='Mao Wtm')
  -const desc = "I'm a stupid programmer. Welcome to my 'main' page."
  meta(name='description', content=desc)
  meta(property='og:description', content=desc)
  meta(property='og:image', content=mapStatic("imgs/banner.png"))

block content
  include /reflist.h.pug
  // TODO: Use client emoji lib cuz some browser don't have native emoji support!
  .top
    h1
      | Mao Wtm
  .uselessboxcontain
    .box.redbox
      | This site, <b>maowtm.org</b>, isn't worth your time. I probably wrote this for
      | my own future references, or this site may have been poorly written. This site
      | also contains outdated information that need updates to be true. You won't get
      | anything useful out of this site, so go do something more meaningful. You have
      | been warned.
  .maincontent
    p
      span.bigger
        b.name Mao Wtm
        +ref('This nickname is derived from my real name - 王庭茂.')
        |  is a 
        span.cicon.icon-program
        a(href='/Programmer_Thought') programmer
        |  known for absolutely nothing. Nobody cares what Mao have done.
      |  Mao is also a 
      span.cicon.icon-igcse
      u high school student
      |  and is now 
      span.cicon.icon-yr
      u #{age} years old
      +ref('Aug 21, 2001 to now - Wolfram|Alpha', 'https://www.wolframalpha.com/input/?i=Aug+21,+2001+to+now')
      | .
      -if (agepre >= 18)
        sup.red
          | Warning: grown up.
      -else
        |  Because of that, Mao can technically be considered a "kid".
        +ref('Definition of Kid by Merriam-Webster', 'https://www.merriam-webster.com/dictionary/kid')
      |  Mao also 
      u makes extensive uses of open source software
      +ref('PC and laptop all use Linux, phone use Android, I avoid closed source stuff as much as possible.')
      |  and supports other free culture such as CC or public domain
      +ref('Example', 'https://github.com/micromaomao/schsrch/blob/master/design/loading-sspdf.svg?short_path=a4a332e#L252')
      | . Although Mao had never got any coding jobs, Mao has written many 
      a(href='/Projects') side projects
      | . These projects are done mostly for learning purposes. Only 
      a(href='/Projects#schsrch') one of the projects
      |  have a significant user base
      +ref('Statistics', mapStatic('/imgs/schsrch-stat-citation.png'))
      |  and is constantly maintained by Mao
      +ref('Commit log', 'https://github.com/micromaomao/schsrch/commits/master')
      | . Mao don't have a wide range of coding skills and have only experienced with 
      a(href='/Programming_Skills') a limited numbers of frameworks, languages or platform
      | , but Mao believes that new things
      | can be learned quickly. Mao does 
      a(href='/School_Subjects') reasonably well at school
      |  by far, but Mao have no plan to fight for tops. Beside being a programmer and
      | a decent student, Mao have also tried to build up 
      a(href='/Life_Habits') good life habits
      |  as well as learn more things. You can reach Mao with 
      a(href='/Contacts') several ways
      | , but email - 
      a(href="mailto:m@maowtm.org") m@maowtm.org
      |  is preferred for anything important. Crypto keys and Bitcoin address are also
      | found on the 
      a(href='/Contacts') contact page
      | .
    p
      | *: Gender-specific pronouns is avoided intentionally and I don't want to use
      | "they" all over the paragraph as it sounds strange. Therefore the name "Mao" is
      | used over and over again. Sorry about that #{"\ud83d\ude05"}.
  .reflistcontain
    h2 References and Footnotes
    +reflist
