extends sub_main_layout

block head
    script.
        window.fontneeded.push('/css?family=Josefin+Slab:400,700');
        window.fontneeded.push('/css?family=PT+Sans+Narrow');
        window.dest = new Date('#{time.toString()}');
    link(rel="stylesheet",href="https://static.maowtm.org/main_site/countdown.css")
    script(src="https://static.maowtm.org/main_site/countdown.js")
    title #{subevent} of #{event} - countdown

block location
    div Countdowns
    div
        a(href="..")= event
    div
        = subevent

block content
    h1
        span.subevent= subevent
        !="&nbsp;"
        span.of of
        !="&nbsp;"
        span.event= event.toUpperCase()
    .error It seems that your broswer has disabled Javascript. We can't show countdown without this. The destination time is #{time.toDateString()}.
