extends sub_main_layout

block head
    title Mao Wtm
    link(rel="stylesheet",href="https://static.maowtm.org/main_site/acts.css")
    script(src="https://static.maowtm.org/main_site/acts.js")
    link(rel="stylesheet",href="https://static.maowtm.org/main_site/index.css")
    script(src="https://static.maowtm.org/main_site/index.js")
block header_0
    -var showhead = !cord && !prevurl;
    -if (showhead)
        img.index-avatar(src="https://img.maowtm.org/avatar.png?width=200")
        h1.index-h1
            span.mline
            | Mao Wtm
            span.mline
    .index-info
        -if (showhead)
            .ping
                pre ping6 me.maowtm.org # <- Test out if I'm online
            ul
                li
                    a(href="mailto:micromaomao@gmail.com",target="_blank") micromaomao@gmail.com
                    .dot
                li
                    a(href="https://github.com/micromaomao") Github
                    .dot
                li
                    a(href="auth") Public Identity
                    .dot
                li
                    a(href="about") About me
        -else if (cord)
            h1 Activities which #{cord}
            a(href="/") Show all activities
block location
    -if (showhead)
        div index
    -else
        div Acitvities which
        div= cord
block content
    -if (showhead)
        h1 Friend links
        .frilinks
            .fri
                img(src="https://img.maowtm.org/ybusad.png?width=100")
                .name 孙天骁
                a(href="http://www.ybusad.com/") 骁之屋
    -if (showhead)
        h1 Recent Activities
    .actpr
        -if (prevurl)
            a.npage(href=prevurl) Previous page
        -else if (ts)
            .tsignmsg
                | Showing only activities&nbsp;
                .time.raw= ts.getTime()
                | .&nbsp;
                a(href=".") Show latest
        .act
            include activ_list
        -if (nexturl)
            a.npage(href=nexturl) Next page
