extends /layout

block head
  block defines
  -
    if (typeof page !== 'object')
      throw new Error()

  title= page.title
  meta(property='og:url', content=`https://maowtm.org${pagePath}/`)
  meta(property='og:type', content='article')
  meta(property='og:locale', content='en_GB')
  meta(property='og:title', content=page.title)
  meta(name='description', content=page.desc)
  meta(property='og:description', content=page.desc)

block content
  include /reflist.h.pug

  mixin sectionmainpage (url, title)
    -if (typeof title !== 'string') title = url
    .box.dashinfobox
      | Main page:&nbsp;
      a(href=`/${url}/`)= title

  .topbar
    .left= page.desc
    .right
      a(href='/') Home
      | &nbsp;
      a(href=`https://github.com/micromaomao/maowtm.org/tree/master/pages/mainsite${pagePath}.pug`) view source
      | &nbsp;
      a(href=`https://github.com/micromaomao/maowtm.org/commits/master/pages/mainsite${pagePath}.pug`) view history
  .content
    h1= page.title
    block text
    +ifRef()
      h2 References and Footnotes
      .reflistcontain
        +reflist

block morefonts
  link(href='https://fonts.googleapis.com/css?family=Inconsolata', rel="stylesheet")
