extends layout

block head
  title= (title || 'A Little Survey')

block content
  -const msgOneormore = lang.split('/').map(x => x === 'en' ? 'Choose one or more answer/s.' : (x === 'zh' ? '选择一或多项答案' : '')).join(' / ')
  -const msgOtherPls = lang.split('/').map(x => x === 'en' ? 'Other (please specify)' : (x === 'zh' ? '其他（请指明）' : '')).join(' / ') + ':'
  -const msgFinish = lang.split('/').map(x => x === 'en' ? 'Finish!' : (x === 'zh' ? '完成！' : '')).join(' / ')
  .content
    -if (desc)
      p #{desc}
    -else if (descHtml)
      != descHtml
    -else
      p Thank you for helping us.

  each qst, idx in q
    -let mds = qst.mode.split('-')
    -let mod = mds[0]
    -let queClass = ['que']
    -if (qst.singleLine) queClass.push('single-line')
    div(class=queClass.join(' '), id=('q' + idx), data-mod=mod, data-optional=qst.optional ? 'true' : undefined)
      .h #{idx + 1}. #{qst.question}
      -if (mod === 'single')
        each ans, anidx in qst.answer
          .ans
            -let ipid = 'q' + idx + 's' + anidx
            input(type='radio', name=('q' + idx), id=ipid)
            label(for=ipid)= ans
        -if (mds[1] === 'orother')
          .ans
            -let ipid = 'q' + idx + 'sothr'
            input(type='radio', name=('q' + idx), id=ipid)
            label(for=ipid)= msgOtherPls
            input.opsy(type='text')
      -if (mod === 'select')
        .qdesc
          i= msgOneormore
        each ans, anidx in qst.answer
          .ans
            -let ipid = 'q' + idx + 's' + anidx
            input(type='checkbox', id=ipid)
            label(for=ipid)= ans
        -if (mds[1] === 'orother')
          .ans
            -let ipid = 'q' + idx + 'sothr'
            input(type='checkbox', id=ipid)
            label(for=ipid)= msgOtherPls
            input.opsy(type='text')
      -if (mod === 'input')
        .ans
          input.inputAns(type='text', placeholder=(qst.placeholder || 'Type your answer'))
      -if (mod === 'open')
        .ans
          textarea(placeholder=(qst.placeholder))
  br
  button.submit= msgFinish 
  .submiting Submiting your result...
  .submError
  script(src=mapStatic('/script-lab/jquery.min.js'))
  script(src=mapStatic('/script/survey.js'))
